/*=================================== Custom fonts ===================================*/
@font-face { font-family:'Archer-Book'; src:url(/assets/fonts/Archer-Book.otf); font-weight:normal; }
@font-face { font-family:'Archer-Light'; src:url(/assets/fonts/Archer-Light.otf); font-weight:normal; }
@font-face { font-family:'Archer-ExtraLight'; src:url(/assets/fonts/Archer-ExtraLight.otf); font-weight:normal; }
@font-face { font-family:'Geomanist-Black'; src:url(/assets/fonts/Geomanist-Black.otf); font-weight:normal; }
@font-face { font-family:'Geomanist-Bold'; src:url(/assets/fonts/Geomanist-Bold.otf); font-weight:normal; }
@font-face { font-family:'Geomanist-ExtraLight'; src:url(/assets/fonts/Geomanist-ExtraLight.otf); font-weight:normal; }
@font-face { font-family:'Geomanist-Light'; src:url(/assets/fonts/Geomanist-Light.otf); font-weight:normal; }
@font-face { font-family:'Geomanist-Medium'; src:url(/assets/fonts/Geomanist-Medium.otf); font-weight:normal; }
@font-face { font-family:'Geomanist-Regular'; src:url(/assets/fonts/Geomanist-Regular.otf); font-weight:normal; }
@font-face { font-family:'Geomanist-Thin'; src:url(/assets/fonts/Geomanist-Thin.otf); font-weight:normal; }

/*=================================== Initialization & General ===================================*/


/*=================================== Site-specific Framework & Snippets ===================================*/

/*Site-specific grids, widths & heights*/
/*Site-specific medium paddings*/
/*Site-specific large paddings*/
/*Site-specific small & extra small paddings*/
.verySmallVPadding { padding-top:1.5rem; padding-bottom:1.5rem; }
.smallPadding { padding:3rem; }
.smallHPadding { padding-left:3rem; padding-right:3rem; }
/*Site-specific padding exceptions*/
/*Site-specific medium margins*/
/*Site-specific large margins*/
/*Site-specific small margins*/
.smallLeftMargin { margin-left:3rem; }
/*Site-specific framework: Backgrounds*/
/*Site-specific framework: Borders*/
/*Site-specific framework: Buttons & icons*/
button.account { width:2rem; height:2rem; background:url(/assets/images/icon-account-black.svg) no-repeat left center; background-size:2rem; }
button.contact { width:2rem; height:2rem; background:url(/assets/images/icon-contact-black.svg) no-repeat left center; background-size:2rem; }
button.website { width:2rem; height:2rem; background:url(/assets/images/icon-website-black.svg) no-repeat left center; background-size:2rem; }
input.search { height:3rem; padding-left:3rem; background:url(/assets/images/icon-search-black.svg) no-repeat left center; background-size:2rem; }
/*Text spacing*/


/*Colors*/


/*Snippets*/
div.tooltip { display:none; }

/*=================================== Templates ===================================*/



/*=================================== Texts ===================================*/

/*Default types*/
nav { font:1.9rem/3rem 'Geomanist-Light', sans-serif; }
button {  }
input.search { font:1.9rem/3rem 'Geomanist-Light', sans-serif }

/*Type colors*/
.black, .black a { color:#000; }
.white, .white a { color:#fff; }

/*Type styles*/
.italic { font-style:italic !important; }
.uppercase { text-transform:uppercase; letter-spacing:0.07rem; }
.strong { font-weight:bold !important; }
.strikethrough, button.publication { text-decoration:line-through; }
button.strikethrough.active, a.strikethrough:hover { text-decoration:none !important; }
ol { list-style-position:inside; }

/*Link styles*/
.blue.hoverUnderline a:hover, .blue.hoverUnderline a:visited, nav a.active, nav a.open, .blue.alwaysUnderline a:link, .blue.alwaysUnderline a:visited, .blue.alwaysUnderline a:hover, .blue.alwaysUnderline a:active, button.direct:not(.active):hover span { text-decoration:none; border-bottom:0.08rem solid #3267ed !important; }
.white.hoverUnderline a:hover, .white.hoverUnderline a:visited, button.direct.active span { text-decoration:none; border-bottom:0.05rem solid #fff !important; }
.noUnderline, .noUnderline a:link, .noUnderline a:visited, .noUnderline a:hover, .noUnderline a:active, .hoverUnderline a:link, .hoverUnderline a:visited { text-decoration:none; border-bottom:none; }
a.hoverItalic:hover, .hoverItalic a:hover { font-style:italic !important; }
a.hoverBold:hover, .hoverBold a:hover { font-weight:bold; }

/*=================================== Mobile Styles ===================================*/

@media all and (max-width:600px) {

}